body {
    background-color: #b1fa87;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
    margin: 15px;
}

section {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin: auto;
    width: 550px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.445);
}

#seltab {
    min-width: 200px;
}

#final {
    display: block;
}

footer {
    color: white;
    text-align: center;
}